@model IEnumerable<SysContabil.Models.BalanceteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Balancete</h2>

<p>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Voltar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDaConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDaConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDaConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDaConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
        </tr>
}
    </tbody>
</table>
